<app-nav-bar></app-nav-bar>
<div *ngIf=(!showResetPassDiv) class="container">
    <h3>Reset Password</h3>
    <div>
        enter email: <input type="email" placeholder="email" required="true" [(ngModel)]="email">
        <br>
        <br>
        <input type="button" class="btn btn-primary" (click)="sendOtpForResetPass()" value="Send OTP">
    </div>
</div>
<div *ngIf=(showResetPassDiv) class="container">
    <form [formGroup]='signupform' (ngSubmit)="postData(signupform)">
        <div>
            <h3>Reset Password</h3>
        </div>

        <div class="form-group">
            <input type="number" class="form-control" formControlName="OTP" placeholder="enter OTP">
            <div><sub style="color:brown">your OTP is valid for just 5 min.</sub></div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <div><sub style="color:brown">password length must be greater than 6.</sub></div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="confirmPass" placeholder="Confirm Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]='!signupform.valid'>Reset Password</button>
        </div>
    </form>
</div>